body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
span{
    color:tomato;
}
.half-width{
    width: 40%;
    padding: 0 5%;
}
.half-width img{
    width: 90%;
}
.half-width h1{
    font-size: 50px;
}
.half-width p{
    color: gray;
    margin-bottom: 60px;
}
.half-width a{
    text-decoration: none;
    font-weight: 500;
    background-image: linear-gradient(to left,red,orange);
    padding: 15px 25px;
    border-radius: 20px;
    color: white;
    margin-top: 30px;
}
.top-section{
    display: flex;
    padding: 100px 0;
}
/* about section is star here */
.about{
    display: flex;
    background-image: url(images/Frame\ 56.jpg);
    background-repeat: no-repeat;
}
.half-width h3{
    font-weight: 600;
    font-size: 30px;
    margin-top: 150px;
    color:grey;
}
.about-desc{
    width: 80%;
}
/* About end here */
.recipie{
    margin-bottom: 50px;
}
.recipie-desc{
    text-align: center;
}
.recipie-desc h3{
    font-weight: 600;
    font-size: 30px;
    margin-top: 150px;
    color:grey;
}
.recipie-desc p{
    text-align: center;
    color: gray;
}
.recipie-cards{
    display: flex;
}
.recipie-title {
    width: 50%;
    box-shadow: 10px 10px 30px grey;
    padding: 20px;
    margin: 0 2%;
    border-radius: 15px;
}
.recipie-title img{
    width:100%;
    height: 300px;
    border-radius: 10px;
}
.recipie-title h4{
    font-size: 20px;
    margin:0;
}
.recipie-title p{

    color: gray;
}
